# Description of the podcast database API
openapi: "3.0.0"
info:
    title: Podcast Database API
    description: API for interacting with the Podcast Database. Specifically, getting data, suggesting improvements, and adding new timestamp entries.
    version: "0.0.1"
servers:
    - url: https://api.vghddb.com
paths:
    /:
        get:
            summary: Links to the various available operations.
            description: An index with links to a number of API endpoints provided by this API. Exists to make API discoverable.
            tags:
                - Utility
            responses:
                '200':
                    description: An index with links to a number of API endpoints provided by this API.
                    content:
                        application/hal+json:
                            schema:
                                type: object
                                properties:
                                    _links:
                                        type: object
                                        allOf:
                                            -
                                                $ref: '#/components/schemas/HALLinks'
                                            -
                                                type: object
                                                properties:
                                                    episodes:
                                                        $ref: '#/components/schemas/Link'
                                                    topics:
                                                        $ref: '#/components/schemas/Link'
                                                    suggestions:
                                                        $ref: '#/components/schemas/Link'
    /episodes:
        get:
            summary: List of available episodes
            description: The episodes endpoint returns a list of EpisodeMetadata objects to the set of episodes which match the optional search parameters (or all episodes, if no search parameters are specified)
            tags:
                - Episodes
            parameters:
                -
                    name: query
                    in: query
                    description: The name (or partial name) of an episode
                    required: false
                    schema:
                        type: string
                -
                    name: start
                    in: query
                    description: The start of a date range to search. If no end date is specified, results will include everything after the start date.
                    required: false
                    schema:
                        type: string
                        format: date
                -
                    name: end
                    in: query
                    description: The end of a date range to search. If no start date is specified, results will include everything before the end date.
                    required: false
                    schema:
                        type: string
                        format: date
                -
                    name: needsmetadata
                    in: query
                    description: Specify whether you want only episodes which are missing pieces of metadata (such as audio URL, show notes, or episode name) or all episodes.
                    required: false
                    schema:
                        type: boolean
            responses:
                '200':
                    description: The array of metadata for matching episodes.
                    content:
                        application/hal+json:
                            schema:
                                type: object
                                description: HAL object with the list of episode metadata objects _embedded.
                                properties:
                                    _embedded:
                                        type: object
                                        properties:
                                            episodes:
                                                type: array
                                                items:
                                                    $ref: '#/components/schemas/EpisodeMetadata'
                                    _links:
                                        type: object
                                        readOnly: true
                                        properties:
                                            self:
                                                $ref: '#/components/schemas/Link'
        post:
            summary: Create or update one or more episodes.
            description: Posting to the episodes endpoint creates EpisodeMetadata resources if they do not exist, and update resources if they do exist.
            tags:
                - Episodes
            requestBody:
                description: An array of episodes to create or update.
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                $ref: '#/components/schemas/EpisodeMetadata'
    /episodes/{episodeId}:
        get:
            summary: An episode's metadata.
            description: The episode endpoint returns an EpisodeMetadata object, specified by the episodeId parameter.
            tags:
                - Episodes
            parameters:
                -
                    name: episodeId
                    in: path
                    description: The id for which we want metadata.
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: The  metadata for the episode.
                    content:
                        application/hal+json:
                            schema:
                                $ref: '#/components/schemas/EpisodeMetadata'
                '400':
                    $ref: '#/components/responses/NotFound'
    /episodes/{episodeId}/clips:
        get:
            summary: An episode with all clips _embedded.
            description: The episode clips endpoint returns an Episode object (which contains all the clip objects), specified by the episodeId parameter.
            tags:
                - Episodes
                - Clips
            parameters:
                -
                    name: episodeId
                    in: path
                    description: The id for which we want the clips.
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: The episode and clips.
                    content:
                        application/hal+json:
                            schema:
                                $ref: '#/components/schemas/Episode'
                '400':
                    $ref: '#/components/responses/NotFound'
    /episodes/{episodeId}/clips/{clipId}:
        get:
            summary: A clip object.
            description: The clip endpoint returns an Clip object, specified by the episodeId and clipId parameters.
            tags:
                - Clips
            parameters:
                -
                    name: episodeId
                    in: path
                    description: The episode id for which we want the clip.
                    required: true
                    schema:
                        type: string
                -
                    name: clipId
                    in: path
                    description: The clip id for which we want the clip.
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: The clip.
                    content:
                        application/hal+json:
                            schema:
                                $ref: '#/components/schemas/Clip'
                '400':
                    $ref: '#/components/responses/NotFound'
    /topics:
        get:
            summary: List of available topics
            description: The topics endpoint returns a list of TopicMetadata objects, optionally filtered by a search parameter.
            tags:
                - Topics
            parameters:
                -
                    name: query
                    in: query
                    description: The name (or partial name) of a topic.
                    required: false
                    schema:
                        type: string
                -
                    name: needsmetadata
                    in: query
                    description: Specifies whether you want to get only topics which are missing metadata (such as related links) or all matching topics.
                    required: false
                    schema:
                        type: boolean
            responses:
                '200':
                    description: The array of metadata for matching topics.
                    content:
                        application/hal+json:
                            schema:
                                type: object
                                properties:
                                    _embedded:
                                        type: object
                                        properties:
                                            topics:
                                                type: array
                                                items:
                                                    $ref: '#/components/schemas/TopicMetadata'
                                    _links:
                                        type: object
                                        properties:
                                            self:
                                                $ref: '#/components/schemas/Link'
    /topics/{topicId}:
        get:
            summary: A topic's metadata.
            description: The topic endpoint returns a TopicMetadata object, specified by the topic id.
            tags:
                - Topics
            parameters:
                -
                    name: topicId
                    in: path
                    description: The id for which we want topic metadata.
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: The metadata for the topic.
                    content:
                        application/hal+json:
                            schema:
                                $ref: '#/components/schemas/TopicMetadata'
                '400':
                    $ref: '#/components/responses/NotFound'
    /topics/{topicId}/clips:
        get:
            summary: A topic with all clips _embedded
            description: The topic clips endpoint returns a Topic object (which includes clips), specified by the topic id.
            tags:
                - Topics
                - Clips
            parameters:
                -
                    name: topicId
                    in: path
                    description: The id for which we want topic.
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: The topic, with clips embedded.
                    content:
                        application/hal+json:
                            schema:
                                $ref: '#/components/schemas/Topic'
                '400':
                    $ref: '#/components/responses/NotFound'
components:
    schemas:
        Clip:
            type: object
            properties:
                episodeId:
                    type: string
                    description: The episode number of the episode containing the clip.
                topicId:
                    type: string
                    description: The id of the topic discussed in the clip (for association with topic metadata)
                topicName:
                    type: string
                    description: The name of the topic.
                    readOnly: true
                start:
                    type: integer
                    format: int32
                    description: The number of seconds into the audio file where the clip starts
                end:
                    type: integer
                    format: int32
                    description: The number of seconds into the audio file where the clip ends
                _links:
                    type: object
                    description: A HAL _links object with links to self and the episode and topic related to this clip.
                    properties:
                        self:
                            $ref: '#/components/schemas/Link'
                        episode:
                            $ref: '#/components/schemas/Link'
                        topic:
                            $ref: '#/components/schemas/Link'
                        audio:
                            $ref: '#/components/schemas/Link'
            required:
                - episodeId
                - topicId
                - start
                - end
        Episode:
            description: All information associated with this episode.
            allOf:
                -
                    $ref: '#/components/schemas/EpisodeMetadata'
                -
                    type: object
                    properties:
                        _embedded:
                            type: object
                            description: A HAL _embedded object, containing a list of clips.
                            properties:
                                clips:
                                    type: array
                                    description: A list of clips in this episode.
                                    items:
                                        $ref: '#/components/schemas/Clip'
                    required:
                        - _embedded
        EpisodeMetadata:
            type: object
            description: Information about the episode, not including timestamps associated with the episode.
            properties:
                id:
                    type: string
                    description: The episode number of the specified episode.
                name:
                    type: string
                    description: The name of the specified episode.
                _links:
                    type: object
                    description: A HAL _links object with links to self and this episode's clips
                    properties:
                        self:
                            $ref: '#/components/schemas/Link'
                        clips:
                            $ref: '#/components/schemas/Link'
                        audio:
                            $ref: '#/components/schemas/Link'
                        about:
                            $ref: '#/components/schemas/Link'
            required:
                - id
        HALLinks:
            type: object
            description: A _links schema including only the required 'self' link.
            properties:
                self:
                    $ref: '#/components/schemas/Link'
        Link:
            type: object
            description: A link (as described by the HAL spec draft: https://tools.ietf.org/html/draft-kelly-json-hal-08)
            properties:
                href:
                    type: string
                    description: The URI or URI template of the linked resource
                templated:
                    type: boolean
                    description: Should be specified to be true when the href is a template
                    default: false
                type:
                    type: string
                    format: mediatype
                    description: The media type of the link response (e.g. "application/json")
                deprecation:
                    type: string
                    format: url
                    description: The presence of this property indicates this link will be removed at a later date. The value is a link to additional information about the deprecation.
                name:
                    type: string
                    description: Optional secondary key for this link.
                profile:
                    type: string
                    format: url
                    description: Its value is a URI that hints about the profile of the target resource.
                title:
                    type: string
                    description: Human-readable name for this link.
                hreflang:
                    type: string
                    description: Optionally indicate the language used in the target resource.
            required:
                - href
        Topic:
            description: All information associated with this topic.
            allOf:
                -
                    $ref: '#/components/schemas/TopicMetadata'
                -
                    type: object
                    properties:
                        _embedded:
                            type: object
                            description: A HAL _embedded object, containing a list of clips.
                            properties:
                                clips:
                                    type: array
                                    description: A list of clips associated with this topic.
                                    items:
                                        $ref: '#/components/schemas/Clip'
                    required:
                        - _embedded
        TopicMetadata:
            type: object
            description: A podcast topic.
            properties:
                id:
                    type: string
                    description: Unique identifier for each topic.
                name:
                    type: string
                    description: Human-friendly topic name.
                _links:
                    type: object
                    description: A HAL _links object with links to self and this topic's clips
                    properties:
                        self:
                            $ref: '#/components/schemas/Link'
                        clips:
                            $ref: '#/components/schemas/Link'
                        related:
                            type: array
                            items:
                                $ref: '#/components/schemas/Link'
            required:
                - name
    responses:
        NotFound:
            description: Resource not found.
